:root {
    font-size: 62.5%;
    --primary-color: #142251;
    --secondary-color: #989EB1;
    --border-color1: hsl(213887 6% 6%);
}

html {
    box-sizing: border-box;
}

/* *, *:before, *:after {
    box-sizing: inherit;
  } */

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--primary-color);
    /* justify-content: center; */
    /* text-align: center; */
    /* overflow-x: hidden; */
    align-items: center;
    /* overflow: overlay; */
}

.section3-back {
    display: none;
    /* width:900px; */
    background-image: url(../images/background1.svg);
    background-repeat: no-repeat;
    border: 1px bold blue;
    width: 175px;
    position: relative;
    bottom: -250px;
    right: 800px;
    margin-bottom: -30px;
}

.menu {
    display: none;
    justify-content: space-between;
    width: 665px;
}

.coc {
    display: flex;
    flex-direction: column;
}

.sec1_footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    max-width: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    margin: 0 20px;
    border-bottom: 1px solid hsl(244, 38%, 90%);
}

.head-buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

footer {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(244, 38%, 90%);
}

.wrapper {
    margin: 0 auto;
    width: 375px;
}

.heading2_1 {
    color: var(--primary-color);
    font-weight: medium;
    font-size: 4rem;
    width: 140px;
}

.heading2_1 span {
    color: var(--secondary-color);
    font-weight: medium;
    font-size: 4rem;
}




.grey_text {
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.grey_text_sec1 {
    color: var(--secondary-color);
    font-size: 1.4rem;
    width: 200px;
}

.grey_text_sec2 {}

.grey_text_sec4_1 {
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.grey_text_sec4_2 {
    display: none;
    color: var(--secondary-color);
    font-size: 1.4rem;
}

/* #f {
    position: relative;
}

#f1 {
    bottom: 210px;
    position: absolute;
} */

.scroll {
    overflow: auto;
    /* width: auto; */
    width:335px;
    height: 568px;
    white-space: nowrap;
    margin-left: 0;
    padding: 0 20px 0 20px;
}

.ul-scroll {
    /* width: 100%; */
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0 20px 0 20px;
}

.choice-section {
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 2px;
    border: solid 2px var(--primary-color);
}


.serviceDiv {
    /* box-shadow: 1px 1px 10px #999; */
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-left: 10px;
    width: 335px;
    height: 517px;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto;
    position: relative;
}

.service-img {
    object-fit: contain;
    width: 315px;
    height: 194px;
    margin-left: 10px;
}

.ul-service {
    list-style-type: '- ';
    padding-left: 20px;
}


.service-application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-color: hsl(244, 38%, 90%);
    border-radius: 12px;
    background-color: #F3F6F9;
    font-size: 1.4rem;
    width: 275px;
    padding: 17px 19.5px;
    margin-left: 10px;
    position: absolute;
    bottom: 30px;
}


.application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-color: hsl(244, 38%, 90%);
    background-color: #F3F6F9;
    border-radius: 12px;
    /* background-color: hsl(244, 38%, 90%); */
    font-size: 1.4rem;
    max-width: 335px;
    /* margin: 0 auto; */
    padding: 17px 19.5px;
    box-shadow: 5px 5px 15px hsl(240, 12%, 27%);
}

.hide {
    display: flex;
}

.application1 {
    display: none;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-color: hsl(244, 38%, 90%);
    background-color: #F3F6F9;
    border-radius: 12px;
    /* background-color: hsl(244, 38%, 90%); */
    font-size: 1.4rem;
    max-width: 335px;
    /* margin: 0 auto; */
    padding: 17px 19.5px;
    box-shadow: 5px 5px 15px hsl(240, 12%, 27%);
}

.application1_sec1 {
    display: none;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-color: hsl(244, 38%, 90%);
    background-color: #F3F6F9;
    border-radius: 12px;
    background-color: hsl(244, 38%, 90%);
    font-size: 1.4rem;
    width: 200px;
    padding: 17px 19.5px;
    /* margin: 0 auto; */
    /* padding: 17px 19.5px; */
    /* box-shadow: 5px 5px 15px hsl(240, 12%, 27%); */
}

.application1_sec1_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-color: hsl(244, 38%, 90%);
    background-color: #F3F6F9;
    border-radius: 12px;
    background-color: hsl(244, 38%, 90%);
    font-size: 1.4rem;
    width: 335px;
    padding: 17px 19.5px;
}

a.text:active,
a.text:hover,
a.text,
a {
    text-decoration: none;
    color: #142251;
}


.button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    left: 170px;
}


ol {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
}

ol.li1 li {
    border: 1px solid #989EB1;
    /* padding-right: 0px;
    padding-left: 167px; */
    padding: 22px 0px 22px 167px;
    width: 181px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0px;
    /* margin-left: 20px; */
    /* position: relative; */
}


.block-text {
    font-size: 2rem;
}

.button_sec1 {
    padding: 18px 18px 18px 18px;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}

.block-nums {
    position: relative;
    bottom: 10px;
    right: 0;
    width: 171px;
    text-align: right;
    margin: 0;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.b1 {
    background: url(../images/block1.svg) left 30px center no-repeat;
    /* padding: 22px 0px 22px 0px; */
}


.b2 {
    background: url(../images/block2.svg) left 30px center no-repeat;
    /* padding: 22px 0px 22px 136px; */
}

.b3 {
    background: url(../images/block3.svg) left 30px center no-repeat;
    /* padding-top: 55px;
    padding-bottom: 55px; */
    /* padding: 22px 0px 22px 136px; */
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    width: 370px;
    margin-left: 10px;
    padding-bottom: 41px;
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    padding: 5%;
    background-color: #FFFFFF;
    color: var(--secondary-color);
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.square img {
    width: 72.33px;
    height: 72.33px;
    position: relative;
    left: 88px;
    /* align-items:  start; */
    top: 2px;
    /* object-fit: contain; */
    /* object-position: left; */
}

.square p {
    color: var(--secondary-color);
    align-items: center;
    float: right;
    position: relative;
    top: 90px;
    right: 70px;
    font-size: 2rem;
}

.section1-back {
    background-image: url(../images/background1.svg);
    background-repeat: no-repeat;
    border: 1px bold blue;
    width: 375px;
    height: 379px;
    position: relative;
    bottom: 60px;
    margin-bottom: -30px;
}

.section1-img {
    position: relative;
    top: 60px;
}

.section1 {
    width: auto;
}

.section2 {
    border-radius: 30px;
    background-color: #F3F6F9;
    margin-top: 50px;
    width: 375px;
    /* margin-right: -15px;
    margin-left: -5px; */
    /* padding-right: 2px; */
    margin: 50px auto auto;
    /* align-items: center; */
    /* width: auto; */
}

.section3 {
    width: auto;
}

.buttons_sec2 {
    display: none;
}

.section4 {

    border-radius: 30px;
    background-color: #F3F6F9;
    /* margin-top: 50px; */
    /* border-width: 100px 100px 100px 100px; */
    background-image: url(../images/finger.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: auto;
    padding-right: 20px;
    /* margin-right: -15px;
    margin-left: -5px; */
    margin: 50px auto 0 auto;
    width: 375px;
}

.section5 {
    width: auto;
}


.section2-header {
    position: relative;
    /* padding-left: 20px; */
    padding: 5px 0 5px 20px;

}

.section4-header {
    position: relative;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.section5 input {
    margin-bottom: 30px;
    width: 337px;
    height: 31px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #989EB1;
    color: #142251;
}

::placeholder {
    color: #989EB1;
    font-size: 2rem;
}

input:focus {
    border-color: var(--secondary-color);
}

.obrabotka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 189.5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gradient {
    background: linear-gradient(30deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* display: table; */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 1430px) and (max-width: 40000px) and (orientation: landscape) {
    body {
        /* background-color: aqua; */
        margin-left: 50px;
    }

    .button {
        display: none;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    .heading2_1 {
        color: var(--primary-color);
        font-weight: medium;
        font-size: 4rem;
        width: 300px;
    }

    .footer-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 550px;
        margin-left: 30px;
        border: 1px solid grey;
        border-radius: 60px;
        ;

    }

    .sec5 {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        width: 1100px;
        ;
    }

    .sec51 {
        display: flex;
        flex-direction: column;
    }

    .sec52 {
        display: flex;
        flex-direction: column;
    }

    .sec5_ob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        width: 400px;
    }

    .footer-flex1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95px;
    }

    .section1-back {
        background-image: url(../images/background1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px bold blue;
        width: 815px;
        height: 669px;
        /* position: relative; */
        bottom: 60px;
        margin-bottom: -30px;
    }

    .coc {
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        justify-content: space-between;
    }


    .section1-img {
        /* position: relative; */
        align-self: right;
        ;
        top: 60px;
        width: 815px;
        height: 699px;
    }

    .section1-img1 {
        /* position: relative; */
        align-self: right;
        ;
        top: 60px;
        width: 815px;
        height: 379px;
    }

    .sec1_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .sec1_footer1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 291px;
    }

    .application1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px;
        border-color: hsl(244, 38%, 90%);
        background-color: #F3F6F9;
        border-radius: 12px;
        background-color: hsl(244, 38%, 90%);
        font-size: 1.4rem;
        width: 200px;
    }

    .application1_sec1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px;
        border-color: hsl(244, 38%, 90%);
        background-color: #F3F6F9;
        border-radius: 12px;
        background-color: hsl(244, 38%, 90%);
        font-size: 1.4rem;
        width: 375px;
        padding: 17px 19.5px;
        margin-top: 70px;
    }

    .application1_sec1_1 {
        display: none;
        justify-content: space-between;
        align-items: center;
        border: 2px;
        border-color: hsl(244, 38%, 90%);
        background-color: #F3F6F9;
        border-radius: 12px;
        background-color: hsl(244, 38%, 90%);
        font-size: 1.4rem;
        width: 335px;
        padding: 17px 19.5px;
    }



    .wrapper {
        margin-left: 30px;
        width: 100%;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 665px;
    }

    .grey_text_sec1 {
        color: var(--secondary-color);
        font-size: 1.4rem;
        width: 400px;
    }

    .grey_text_sec2 {
        color: var(--secondary-color);
        font-size: 2.4rem;
        width: 280px;
    }

    .grey_text_sec3 {
        color: var(--secondary-color);
        font-size: 1.4rem;
        width: 280px;
    }

    .grey_text_sec4_1 {
        display: none;
        color: var(--secondary-color);
        font-size: 1.4rem;
    }

    .grey_text_sec4_2 {
        display: flex;
        color: var(--secondary-color);
        font-size: 1.4rem;
        width: 100px;
    }

    .section2 {
        border-radius: 30px;
        background-color: #F3F6F9;
        margin-top: 50px;
        width: 100%;
        /* margin-right: -15px;
        margin-left: -5px; */
        /* padding-right: 2px; */
        margin: 50px auto auto;
        /* align-items: center; */
        /* width: auto; */
    }

    .section5 {
        margin-left: 30px;
    }

    .buttons_sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons_sec2_boarder1 {
        padding: 13px 20px 13px 20px;
        border-radius: 26px 0 0 26px;
        border: none;
        /* border-right: 1px solid black; */
        background-color: #FFFFFF;
    }

    .buttons_sec2_boarder2 {
        padding: 13px 20px 13px 20px;
        border-radius: 0 26px 26px 0;
        border: none;
        /* border-left: 1px solid black; */
        background-color: #FFFFFF
    }

    .section2-header {
        display: flex;
        justify-content: space-between;
        width: 1300px;
        align-items: center;
        /* padding-left: 20px; */
        padding: 5px 0 5px 20px;

    }

    .sec4-flex {
        display: flex;
        justify-content: space-around;
    }

    .sec3-flex {
        width: 100%;
        padding-bottom:100px;
        display: flex;
        justify-content: space-between;
    }

    .section4 {

        border-radius: 30px;
        background-color: #F3F6F9;
        /* margin-top: 50px; */
        /* border-width: 100px 100px 100px 100px; */
        background-image: url(../images/finger.svg);
        background-size: 800px;
        background-position: 100% -1600%;
        ;
        background-repeat: no-repeat;
        /* background-position: bottom right; */
        width: auto;
        padding-right: 100px;
        padding-top: 50px;
        /* margin-right: -15px;
        margin-left: -5px; */
        margin: 50px auto 0 auto;
    }

    .scroll {
        overflow: auto;
        /* width: auto; */
        height: 618px;
        white-space: nowrap;
        padding: 0 20px 0 20px;
    }


    .ul-scroll {
        display: none;
        width: 100%;
        overflow: none;
        white-space: none;
        margin-bottom: 20px;
        margin-left: 0;
        padding: 0 20px 0 20px;
    }



    .choice-section {
        display: inline-block;
        clear: both;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 2px;
        border: solid 2px var(--primary-color);
    }


    .serviceDiv {
        /* box-shadow: 1px 1px 10px #999; */
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        padding-bottom: 30px;
        background-color: #FFFFFF;
        border-radius: 30px;
        padding-left: 10px;
        width: 335px;
        height: 517px;
        align-items: center;
        margin-bottom: 30px;
        margin: 0 auto;
        position: relative;
    }

    .service-img {
        object-fit: contain;
        width: 315px;
        height: 194px;
        margin-left: 10px;
    }

    .ul-service {
        list-style-type: '- ';
        padding-left: 20px;
    }


    .service-application {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px;
        border-color: hsl(244, 38%, 90%);
        border-radius: 12px;
        background-color: #F3F6F9;
        font-size: 1.4rem;
        width: 275px;
        padding: 17px 19.5px;
        margin-left: 10px;
        position: absolute;
        bottom: 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        width: 720px;
        margin-left: 10px;
        padding-bottom: 41px;
    }

    .section3 {
        width: auto;
        margin-bottom: 150px;
        margin-top: 50px;
        background-image: url(../images/background2.svg);
        background-repeat: no-repeat;
        background-position: 270% 30%;;
        background-size: 90%;
    }

    .square {
        aspect-ratio: 1/ 1;
        display: flex;
        padding: 5%;
        background-color: #FFFFFF;
        color: var(--secondary-color);
        border-radius: 20px;
        height: 300px;
        width: 300px;
    }

    .section3-back {
        display: flex;
        /* width:900px; */
        background-size: 100;
        ;
        border: 1px bold blue;
        width: 175px;
        position: relative;
        bottom: -250px;
        right: 800px;
        margin-bottom: -30px;
    }

    .b11 {
        z-index: 3;
        position: relative;
        bottom: 10px;
        left: 20px;
        /* padding: 22px 0px 22px 0px; */
    }


    .b22 {
        z-index: 2;
        position: relative;
        top: -100px;
        /* padding: 22px 0px 22px 136px; */
    }

    .b33 {
        z-index: 1;
        position: relative;
        top: -250px;
        right: 20px;
        /* padding-top: 55px;
        padding-bottom: 55px; */
        /* padding: 22px 0px 22px 136px; */
    }

    .square img {
        width: 144.66px;
        height: 144.66px;
        position: relative;
        left: 148px;
        /* align-items:  start; */
        top: 2px;
        /* object-fit: contain; */
        /* object-position: left; */
    }

    .square p {
        color: var(--secondary-color);
        align-items: center;
        float: right;
        position: relative;
        top: 210px;
        right: 130px;
        font-size: 2rem;
    }

    .block-text {
        position: relative;
        right: 120px;
        width: 500px;
        font-size: 2rem;
        color: var(--secondary-color);
    }

    .button_sec1 {
        padding: 18px 18px 18px 18px;
        border: none;
        border-radius: 36px;
        cursor: pointer;
    }

    .bla {
        display: flex;
        flex-direction: column;
    }

    .sec3-imgul {
        position: relative;
        right: 200px;
        height: 36px;
        position: relative;
    }

    .block-nums {
        position: relative;
        bottom: 10px;
        right: 0;
        width: 171px;
        text-align: right;
        margin: 0;
        font-size: 1.2rem;
        color: var(--secondary-color);
    }

    .b1 {
        background: none;
        /* padding: 22px 0px 22px 0px; */
    }


    .b2 {
        background: none;
        /* padding: 22px 0px 22px 136px; */
    }

    .b3 {
        background: none;
        /* padding-top: 55px;
        padding-bottom: 55px; */
        /* padding: 22px 0px 22px 136px; */
    }

    .hide {
        display:flex;
        align-items: first baseline;
        font-size: 2.4rem;
        justify-content: space-between;
        width: 500px;
    }

    /* h2 {
        display:none;
    } */
}


.grid1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 200px 90px 120px;

    grid-template-areas:
        'sidebar first first first first first first'
        'sidebar second second third third fourth fourth'
        'sidebar fifth fifth fifth sixth sixth sixth';


}

.item {
    padding: 10px;
    border: 1px solid black;
    grid-area: photo;
    /* height: 100%; */
    /* width:100%; */
    background-size: 100%;
    /* <-- background size */
    background-position: center;
    /* <-- background position */
    background-repeat: no-repeat;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.item_1 {
    grid-area: first;
    background-image: url(../images/1.svg);
}

.item_2 {
    grid-area: second;
    background-image: url(../images/1.svg);
}

.item_3 {
    grid-area: third;
    /* display: flex; */
    /* object-fit: fill; */
    background-image: url(../images/1.svg);
}

.item_4 {
    grid-area: fourth;
    background-image: url(../images/1.svg);
}

.item_5 {
    grid-area: fifth;
    background-image: url(../images/1.svg);
}

.item_6 {
    grid-area: sixth;
    background-image: url(../images/1.svg);
}

.item img {
    align-self: center;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3%;
    width: 370px;
    margin-left: 10px;
    padding-bottom: 41px;
}

.square1 {
    aspect-ratio: 1/ 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #FFFFFF;
    color: var(--secondary-color);
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.square1 img {
    width: 100%;
    height: 100%;
    position: relative;
    /* align-items:  start; */
    /* object-fit: contain; */
    /* object-position: left; */
}

.sq_1 {
    background-image: url(../images/politicians.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sq_2 {
    background-image: url(../images/buisness.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sq_3 {
    /* display: flex; */
    /* object-fit: fill; */
    background-image: url(../images/celebrity.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sq_4 {
    background-image: url(../images/individuals.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec {
    width: auto;
}



form{
    border:2px solid #0D61BC;
    border-radius: 5px;
}

.class{
    display: flex;
    flex-direction: column;

}

.l1 {
    margin: 20px 10px;
    max-width: 500px;
    margin:10px auto;
}

.l2 {
    margin: 20px 10px;
    flex-direction: row;
    margin: 0 auto;
}

fieldset{
    overflow: hidden;
    max-width: 700px;
    margin:0 auto;
}

form {
    margin: 10px 20px;
}